#TituloContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  background-color: #88daf2;
  width: 300px;
  border-radius: 50px;
  height: 50px;
  color: white;
  img {
    height: 50px;
  }
}

header {
  height: 80px;
  background: linear-gradient(to right, #6188ff, #6188ff 70%, #71a4f3 71%, #71a4f3 97%, #8ec0f0 100%);
}
